Repository kevnm67/kevnm67, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, tests, dependencies, documentation, enhancement

.github/labeler.yml:

---
CI/CD:
  - .circleci/*
  - .codeclimate.yml
  - .github/*
  - .ruby-version
  - .swift-version
  - Dangerfile
  - fastlane/*
  - Makefile
tests:
  - Tests/*
dependencies:
  - .gitmodules
  - Brewfile
  - Cartfile
  - Cartfile.private
  - Carthage/*
  - Gemfile
  - Gemfile.lock
  - Podfile
  - Podfile.lock
  - Pods/*
  - Romefile
documentation:
  - CHANGELOG.md
  - doc/*
  - Documentation/*
  - jazzy.yml
  - README.md
enhancement:
  - .sourcery.yml
  - swiftgen.yml

Update README.md
  README.md
Labels: documentation

Update README.md
  .github/CODEOWNERS
  .github/release_drafter.yml
  README.md
  docs/images/penguin.jpeg
Labels: CI/CD, documentation

Update README.md
  README.md
Labels: documentation

Update README.md (#15)
  README.md
Labels: documentation

Refactored md links and updated badges
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Refactored md links and updated badges (#28)
  README.md
Labels: documentation

Update README.md (#29)
  README.md
Labels: documentation

Update label.yml
  .github/workflows/label.yml
Labels: none

Update auto-approve.yml
  .github/workflows/auto-approve.yml
Labels: none

Update label.yml (#35)
  .github/workflows/label.yml
Labels: none

Update auto-approve.yml (#36)
  .github/workflows/auto-approve.yml
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md (#43)
  README.md
Labels: documentation

Update README.md markdown bages
  README.md
Labels: documentation

Update and rename renovate.json to .github/renovate.json
  .github/renovate.json
  renovate.json
Labels: CI/CD

Update and rename renovate.json to .github/renovate.json
  .github/renovate.json
  renovate.json
Labels: CI/CD
